@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.focus:focus {
  box-shadow: none !important;
}

select:focus {
  box-shadow: none !important;
}

.gray-img {
  filter: opacity(0.3);
}

.test {
  font-family: "DM Sans", sans-serif;
}

.PhoneInputCountry {
  background-color: #fff !important;
  padding: 18px 10px !important;
}

.profile-page .PhoneInputCountry {
  background-color: transparent !important;
  padding: 18px 10px !important;
}

.c-select .css-13cymwt-control,
.c-select .css-t3ipsp-control {
  border: 0 !important;
  cursor: pointer;
  height: 42px;
}
.css-qbdosj-Input:after {
  display: none !important;
}
.css-19bb58m:after {
  display: none !important;
}

.c-select .css-t3ipsp-control:hover {
  border: 0 !important;
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none !important;
}

.c-select .css-qbdosj-Input input {
  min-width: 0 !important;
}

.top-center {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%) !important;
  -moz-transform: translate(-50%) !important;
  transform: translate(-50%, -50%) !important;
}

.dashboard-menu img[alt="Logo"] {
  width: auto;
}
.login input::placeholder {
  color: rgba(180, 180, 180, 0.637) !important;
}
.passwordplaceholder::placeholder {
  color: rgba(180, 180, 180, 0.637) !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
  .dateinput {
    width: 225px !important;
  }
}


.ico-nav .black-bg {
  background-color:#0d6efd !important;
  /* backdrop-filter: blur(30px); */
  position: fixed;
  width: 100%;
}

.ico-nav .nav-link {
  color: #fff !important;
  position: relative;
}

.ico-nav .hidden {
  display: block !important;
}

@media (max-width: 991.98px) {
  .ico-nav img[alt="Logo"] {
    height: 50px;
    width: auto;
  }

  .nav-list {
    position: fixed;
    top: 58px;
    transform: translateX(-100%);
    background-color: rgb(0 0 0 / 80%) !important;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  .nav-list ul {
    left: 0;
    align-items: baseline;
  }

  .nav-list ul li {
    margin: 10px 0;
  }

  .mobile-nav {
    transform: translateX(0);
  }

  .dashboard-menu img[alt="Logo"] {
    height: 50px;
    width: auto;
  }
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.banner::before, .solution::before  {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#0d6efd;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 52%);
}
.footer{
  clip-path: polygon(0 0, 100% 36%, 100% 100%, 0% 100%);
  position: relative;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#0d6efd;
  z-index: -1;
}
.app{
  
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color:#0d6efd;

}
.solution::before{
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
}
@media (min-width: 480px) and (max-width: 1199.98px) and (orientation: landscape) {
  .h-50 {
    height: 100vh;
  }

  .nav-list {
    top: 58px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .nav-list ul {
    max-width: 768px;
    margin: auto;
  }

  .ico-nav button[data-collapse-toggle="navbar-default"] {
    color: #fff;
    background-color: transparent;
  }

  .ico-nav button[data-collapse-toggle="navbar-default"]:focus {
    box-shadow: none;
  }
}

@media (max-width: 767.98px) {
  .d-menu {
    top: 50px;
    transform: translateX(-100%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .navclass .d-menu {
    transform: translateX(0%) !important;
  }
}

.ico-nav .nav-link:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -4px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.ico-nav ul .active:after {
  background-color: #0d6efd;
}

.ico-nav ul .active {
  color: #0d6efd !important;
  font-weight: 700;
}

.theme-color {
  color: #0d6efd !important;
}

.btn-bg-color {
  background-color: #0d6efd;
}

.font-grotestk {
  font-family: "Space Grotesk";
}


.roadmap{
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.roadmap .roadmap_main,.whitepaper{
  padding: 120px 0 0;
}
.roadmap .roadmap_wrap{
  overflow-x: scroll;
  display: flex;
  padding: 0;
  min-height: 490px;
  margin: 10px 0 0;
  /* justify-content: flex-end; */
  position: relative;
}
.roadmap ::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: transparent;
}

.roadmap ::-webkit-scrollbar
{
height: 5px;
background-color: transparent;
}

.roadmap ::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: rgb(107, 107, 107);
}
.roadmap .roadmap_wrap::before{
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  transform: translateY(-50%);
  width: 1600px;
  height: 8px;
  background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
  opacity: 0.1;
}
.roadmap .roadmap_wrap .roadmap_item{
  display: flex;
  width: 370px;
  flex: 0 0 auto;
  height: 305px;
  align-self: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.roadmap .roadmap_wrap .roadmap_item:nth-child(even){
  align-self: flex-start;
  flex-direction: column-reverse;
  margin-top: -10px;
}
.roadmap .roadmap_item .roadmap_title{
  display: inline-block;
  color:  #0d6efd;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
  letter-spacing: 0.1em;
}
.roadmap .roadmap_item:nth-child(even) .roadmap_title{
  margin: 22px 0 0;
}
.roadmap .roadmap_item .roadmap_content {
  position: relative;
  margin-left: 57px;
  padding-left: 17px;
  padding-top: 110px;
}
.roadmap .roadmap_item:nth-child(even) .roadmap_content{
  padding: 0 0 110px 17px;
  margin-bottom: 8px;
}
.roadmap .roadmap_item:not(:first-child){
  margin-left: -155px;
}
.roadmap .roadmap_content::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background:  #0d6efd;
}
.roadmap .roadmap_content .dot{
  position: absolute;
  left: -8px;
  top: 0;
  width: 16px;
  height: 16px;
  background:  #0d6efd;
  border-radius: 50%;
}
.roadmap .roadmap_content .dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 32px;
  height: 32px;
  background:  #0d6efd;
  opacity: 0.2;
  border-radius: 50%;
}
.roadmap .roadmap_item:nth-child(even) .roadmap_content .dot {
  top: auto;
  bottom: 0;
}
.roadmap .roadmap_content h4{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
.roadmap .roadmap_content span{
  display: block;
  color: #A4B4C3;
  font-size: 16px;
  line-height: 1.75;
}
.roadmap .roadmap_item:nth-child(2) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(2) .dot::before, .roadmap .roadmap_item:nth-child(2) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(2) .roadmap_title{
  color: #0d6efd;
}
.roadmap .roadmap_item:nth-child(3) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(3) .dot::before, .roadmap .roadmap_item:nth-child(3) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(3) .roadmap_title{
  color: #0d6efd;
}
.roadmap .roadmap_item:nth-child(4) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(4) .dot::before, .roadmap .roadmap_item:nth-child(4) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(4) .roadmap_title{
  color: #0d6efd;
}
.roadmap .roadmap_item:nth-child(5) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(5) .dot::before, .roadmap .roadmap_item:nth-child(5) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(5) .roadmap_title{
  color: #007FF4;
}
.roadmap .roadmap_item:nth-child(6) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(6) .dot::before, .roadmap .roadmap_item:nth-child(6) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(6) .roadmap_title{
  color: #0d6efd;
}
.roadmap .roadmap_item:nth-child(7) .roadmap_content .dot, .roadmap .roadmap_item:nth-child(7) .dot::before, .roadmap .roadmap_item:nth-child(7) .roadmap_content::before{
  background: #0d6efd;
}
.roadmap .roadmap_item:nth-child(7) .roadmap_title{
  color: #0d6efd;
}

